{% layout 'layout.liquid' %} {% block content %}
<div class="container-md">
  <legend>Bio info</legend>
    <article>
      <p> Age: {{ client.age }} </p>
      <p> Height: {{ client.height }}(cm)</p>
      <p> Weight: {{ client.weight }}(kg)</p>
      <div class="btn-group">
        <form action="/client/add" method="POST">
          <input type="text" name="fats" value="{{fats}}" hidden>
          <input type="text" name="carbs" value="{{carbs}}" hidden>
          <input type="text" name="amount" value="{{amount}}" hidden>
          <input type="submit" value="Add Food" class="btn btn-success" />
        </form>
        <a href="/food/new" class="btn btn-info">Go Back</a>
   
    {% endif %}
        </form>
      </div>
    </article>
  
  </article>
</div>
{% endblock %}