{% layout 'layout.liquid' %} {% block content %}
<div class="grid-container">
  <!-- we want to make a list item (li) for every fruit -->
  <!-- we can use our outputs and tags for this -->
  <!-- a for...in loop says this line -->
  <!-- for every item in my list of items do a thing -->
  <!-- the first name in our for...in loop is how we -->
  <!-- will be referring to each item we iterate over -->
  {% for food in foodArray %}

  <!-- make the image of the pokemon the link to the particular's show page -->
  <div>{{ food.name }}</div>
  <div>{{ food.protein }}</div>
  <div>{{ food.fats }}</div>
  <div>{{ food.carbs }}</div>
  <!-- option to delete (on every pokemon) -->
  <form method="POST" action="/food/{{ forloop.index0 }}?_method=DELETE">
    <input type="submit" value="DELETE" />
  </form>
  {% endfor %} {% endblock %}
</div>
