{% layout 'layout.liquid' %} {% block content %}
<div class="container-md">
  <legend>Food info</legend>
    <article>
      <p> Name: {{ foodName }} </p>
      <p> Protein: {{ protein }}(g)</p>
      <p> Fats: {{ fats }}(g)</p>
      <p> Carbs: {{ carbs }}(g)</p>
      <p> Amount: {{ amount }}(g)</p>
      <div class="btn-group">
        <form action="/food/add" method="POST">
          <input type="text" name="foodName" value="{{foodName}}" hidden>
          <input type="text" name="protein" value="{{protein}}" hidden>
          <input type="text" name="fats" value="{{fats}}" hidden>
          <input type="text" name="carbs" value="{{carbs}}" hidden>
          <input type="text" name="amount" value="{{amount}}" hidden>
          <input type="submit" value="Add Food" class="btn btn-success" />
        </form>
        <a href="/food/new" class="btn btn-info">Go Back</a>

      </div>
    </article>
  
  </article>
</div>
{% endblock %}
