{% layout 'layout.liquid' %} {% block content %}
<div class="container-md">
  
    <article>
      <p> Food: {{ foodName }} </p>
      <p> Protein: {{ protein }} </p>
      <p> Fats: {{ fats }} </p>
      <p> Carbs: {{ carbs }} </p>
      {% if entry.owner == userId %}
      <div class="btn-group">
        <a href="/food/{{ entry.id }}/edit" class="btn btn-primary">Edit</a>
        <form action="/food-diary/{{ entry.id }}?_method=DELETE" method="POST">
          <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        <form action="/food/add" class
      </div>
      {% endif %}
    </article>
  
  </article>
</div>
{% endblock %}
